body{
    background-color: beige
}
main{
   
    margin-top: 10vh;
}
section{
    width: 550px;
    height: 150px;
    background-color: rgba(62, 165, 198.0.3);
    border-radius: 5px;
    transition: 1s transform;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    perspective:1000px;   
    transform: rotateY(-30deg) rotateX(12deg);
    mix-blend-mode: multiply;
   
}
main div{
    position: relative;
}
main section:nth-of-type(1){
    background: rgba(59, 87, 79, 0.589);
    position: absolute;
    top:110px;
    z-index: 2;
   
}
main section:nth-of-type(2){
    background-color: rgb(181, 209, 24);
    position: absolute;
    top: 210px;
    z-index: 1;
 
}
main section:nth-of-type(3){
    background: rgb(223, 165, 17);
    position: absolute;
    top: 310px;
    z-index: 0;
}
main section:hover{
    z-index: 3;
    transform: scale(1.01);
    transform: rotateY(-28) rotateX(22deg);
    mix-blend-mode: normal;
}